html {
	margin: 0;
	padding: 0;
	background-color:powderblue;
	/* background-image:  */
}

body {
	background-color:powderblue;
	color:navy;
	font-weight:normal;
	width: 90%;
	margin: 0 auto;
	font-family: "Times New Roman", Georgia, serif;
	text-align: justify;
}

#pgContent{
	width: 700px;
	border: 1;
	
}

#controlForm{
	width: 338px;
	padding: 20px;
}

#Report_Status{
	width: 80%;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;

}
	#info{
		background-position: center;
		text-align: center;
		height: 40px;
	}
	#mapC{
		padding: 5px;
	}
	#mapScale{
		padding: 5px;
	}
	#numLayers{
		padding: 5px;
	}

#img {
		display: block;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 700px;

}